<script src="~/js/BetInfo.js"></script>
<div class="container w-75">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label">日期</label>
                <input class="form-control" id="datepicker" type="date" />
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">組頭</label>
                <select class="form-control" id="bookieSelect"></select>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">張數</label>
                <select class="form-control" id="paperNumberSelect"></select>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">客戶</label>
                <select class="form-control" id="customerSelect"></select>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <div class="mb-3">
                <label class="form-label">投注內容</label>
                <textarea class="form-control" id="sourceString" style="height:100px;"></textarea>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3 d-flex align-items-center justify-content-end">
                <div class="me-2">
                    <label class="form-label">二星</label>
                </div>
                <div>
                    <input class="form-control" id="twoStarOdds" type="number" />
                </div>
            </div>
            <div class="mb-3 d-flex align-items-center justify-content-end">
                <div class="me-2">
                    <label class="form-label">三星</label>
                </div>
                <div>
                    <input class="form-control" id="threeStarOdds" type="number" />
                </div>
            </div>
            <div class="mb-3 d-flex align-items-center justify-content-end">
                <div class="me-2">
                    <label class="form-label">四星</label>
                </div>
                <div>
                    <input class="form-control" id="fourStarOdds" type="number" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="ms-1 btn btn-primary" type="button" onclick="bet()">下注</button>
        <button class="ms-1 btn btn-secondary" type="button" onclick="resetBet()">重設</button>
    </div>

</div>
<hr class="hr" />
<div class="row text-center">
</div>
<div id="betDetails">
</div>
<script>$(function () {
        initDatepicker();
        initSelect();
    });

    function initDatepicker() {
        $("#datepicker").datepicker({
            format: 'yyyy-MM-dd',
        });

        setTodayDate();
    }

    function setTodayDate() {
        var myDate = new Date();

        var year = myDate.getFullYear();
        var date = myDate.getDate();
        var month = myDate.getMonth() + 1;
        month = month < 10 ? `0${month}` : month;

        var fullDate = `${year}-${month}-${date}`;

        $("#datepicker").val(fullDate);
    }

    function initSelect() {
        //張數
        for (i = 1; i <= 10; i++) {
            $('#paperNumberSelect').append($('<option>', {
                value: i,
                text: i
            }));
        }

        $.ajax({
            url: "/api/Bet",
            method: "GET"
        }).done(function (data) {
            //組頭清單
            $.each(data.bookieList, function (index, value) {
                $('#bookieSelect').append($('<option>', {
                    value: value.value,
                    text: value.name
                }));
            });

            //客戶清單
            $.each(data.customerSettings.customerList, function (index, value) {
                $('#customerSelect').append($('<option>', {
                    value: value.name,
                    text: value.name
                }));
            });
        });
    }

    function bet() {
        var data = {
            date: $('#datepicker').val(),
            bookie: $('#bookieSelect').val(),
            customerName: $('#customerSelect').val(),
            betContent: $("#sourceString").val(),
            twoStarOdds: $('#twoStarOdds').val(),
            threeStarOdds: $('#threeStarOdds').val(),
            fourStarOdds: $('#fourStarOdds').val(),
            paperNumber: $('#paperNumberSelect').val()
        };

        $.ajax({
            url: "/api/bet",
            method: "POST",
            data: data
        }).done(function (result) {
            if (result.isSuccess === true) {
                //alert("下注成功");

                $('#sourceString').val('');

                genertateDetailArea($('#datepicker').val(), $('#customerSelect').val());
            } else {
                alert(data.message);
            }
        });
    }

    function resetBet() {
        setTodayDate();
        $('#bookieSelect option')[0].selected = true;
        $('#customerSelect option')[0].selected = true;
        $('#twoStarOdds').val('');
        $('#threeStarOdds').val('');
        $('#fourStarOdds').val('');
    }

    function resetCarSet() {
        $('#carSetNumber').val('');
        $('#carSetOdds').val('');
    }

    function carSetBet() {
        var data = {
            carSetNumber: $("#carSetNumber").val(),
            date: $('#datepicker').val(),
            bookie: $('#bookieSelect').val(),
            customerName: $('#customerSelect').val(),
            odds: $('#carSetOdds').val(),
            paperNumber: $('#paperNumberSelect').val()
        };

        $.ajax({
            url: "/api/bet/CarSetBet",
            method: "POST",
            data: data
        }).done(function (result) {
            if (result.isSuccess === true) {
                //alert("下注成功");
                $('#carSetNumber').val('');

                genertateDetailArea($("#datepicker").val(), $('#customerSelect').val());
            } else {
                alert(data.message);
            }
        });
    }</script>


