<div class="container">
    <div class="row">
        <div class="col">
            <!--排碰-->
            <table class="table align-middle">
                <tr>
                    <td class="p-1 text-right">
                        <div class="d-flex flex-row align-items-center justify-content-end">
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                22<br />32
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 text-right">
                        <div class="d-flex flex-row align-items-center justify-content-end">
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                22<br />32
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 text-right">
                        <div class="d-flex flex-row align-items-center justify-content-end">
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                22<br />32
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 text-right">
                        <div class="d-flex flex-row align-items-center justify-content-end">
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                22<br />32
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 text-right">
                        <div class="d-flex flex-row align-items-center justify-content-end">
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                22<br />32
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                            x
                            <div class="d-flex flex-column align-item-center text-center p-1">
                                11<br />23<br />23
                            </div>
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col">
            <!--連碰-->
            <table class="table align-middle">
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="p-1 ">
                        <div class="d-flex justify-content-end">
                            0608320116
                        </div>
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div>兩星 x 5</div>
                            <div>兩星 x 5</div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="col">
            <!--車組-->
            <table class="table align-middle">
                <tr>
                    <td  class="p-1 text-end">01</td>
                    <td >x 0.5 車</td>
                </tr>
                <tr>
                    <td  class="p-1 text-end">01</td>
                    <td >x 0.5 車</td>
                </tr>
                <tr>
                    <td  class="p-1 text-end">01</td>
                    <td >x 0.5 車</td>
                </tr>
                <tr>
                    <td  class="p-1 text-end">01</td>
                    <td >x 0.5 車</td>
                </tr>
                <tr>
                    <td  class="p-1 text-end">01</td>
                    <td >x 0.5 車</td>
                </tr>
                <tr>
                    <td  class="p-1 text-end">01</td>
                    <td >x 0.5 車</td>
                </tr>
            </table>
        </div>
    </div>
</div>
