<script src="~/js/common.js"></script>

<div class="container">
    <div class="col">
        <div class="mb-3">
            <label class="form-label">組頭</label>
            <select class="form-control" id="bookieSelect">
                <option value="0">請選擇</option>
            </select>
        </div>
    </div>
</div>

<div id="betDetails">
</div>

<script>$(function () {
        initSelect();

        $('#bookieSelect').on('change', function () {
            $.ajax({
                url: "/api/bet/GetBookieBet",
                method: "POST",
                data: {
                    date: getToday(),
                    bookie: $('#bookieSelect').val(),
                },
            }).done(function (data) {
                console.log(data)
            });
        });

    });

    function initSelect() {
        $.ajax({
            url: "/api/Bet",
            method: "GET"
        }).done(function (data) {
            //組頭清單
            $.each(data.bookieList, function (index, value) {
                $('#bookieSelect').append($('<option>', {
                    value: value.value,
                    text: value.name
                }));
            });
        });
    }</script>