<script src="~/js/common.js"></script>
<script src="~/js/BetInfo.js"></script>

<div class="container">
    <div class="col">
        <div class="mb-3">
            <label class="form-label">組頭</label>
            <select class="form-control" id="bookieSelect">
                <option value="0">請選擇</option>
            </select>
        </div>
    </div>
</div>
<div id="betDetails">
</div>
<hr class="hr" />
<nav aria-label="..." data-pagination>
    <ul class="pagination pagination-lg">
    </ul>
</nav>

<script>$(function () {
        initSelect();

        $('#bookieSelect').on('change', function () {
            $.ajax({
                url: "/api/bet/GetBookieBet",
                method: "POST",
                data: {
                    date: getToday(),
                    bookieType: $('#bookieSelect').val(),
                },
            }).done(function (data) {
                $('#betDetails').empty();

                setReportView(data);

                $.each(data.bookiePapaerList, function (index, paperData) {
                    var li = document.createElement("li");

                    $(li).addClass("page-item").on('click', function () {
                        $('.page-item').removeClass('active');
                        loadPageData(data.date, paperData);
                    });

                    var alink = document.createElement("a");
                    $(alink).addClass("page-link").text(paperData.paperNumber);

                    $(li).append(alink).addClass('active');
                    $('.pagination').append(li);
                });

                if (data.bookiePapaerList.length > 0) {
                    loadPageData(data.date, data.bookiePapaerList[0]);
                }
            });
        });

    });

    function initSelect() {
        $.ajax({
            url: "/api/Bet",
            method: "GET"
        }).done(function (data) {
            //組頭清單
            $.each(data.bookieList, function (index, value) {
                $('#bookieSelect').append($('<option>', {
                    value: value.value,
                    text: value.name
                }));
            });
        });
    }

    function loadPageData(date, data) {
        data.date = date;

        $('[data-betinfo-table]').remove();

        var html = generateBetInfoTableTemplate();
        $('nav[data-pagination]').after(html);

        var table = $('[data-betinfo-table] table')
        insertRows(table, data, null, false);
    }</script>